<h1>{{name}}</h1>
<ul>
  <li> Age: {{age}}</li>
  <li> Email: {{email}}</li>
  <li> Address: {{address.street}}, {{address.city}}, {{address.state}}</li>
</ul>

<button (click)='toggleIsEdit()'>Edit User</button>
<div *ngIf=isEdit>
  <h1>Edit User</h1>
  <form (submit)='addHobby(hobby.value)'>
      <div>
        <label for='name'>Name:</label>
        <input type='text' [(ngModel)]="name" name="name">
      </div>
      <div>
          <label for='age'>Age:</label>
          <input type='text' [(ngModel)]="age" name="age">
      </div>
      <div>
          <label for='email'>Email:</label>
          <input type='text' [(ngModel)]="email" name="email">
      </div>
  </form>
</div>

<h1> Hobbies </h1>
<form (submit)='addHobby(hobby.value)'>
  <div>
    <label for='hobby'>Hobby:</label>
    <input type='text' #hobby>
  </div>
</form>
<ul>
  <li *ngFor='let hobby of hobbies; let i = index'>{{ i+1 }}:{{hobby}}<button (click)='deleteHobby(hobby)'>x</button></li>
</ul>

<h1>Posts</h1>
<div *ngFor='let post of posts'>
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>>